
<style>

.err_msg{
color: red;
}

</style>
<h1>
   Add Configuration Details
    <a href="{% url 'configdetails' %}" class="btn btn-light btn-sm mb-3 float-right">Back</a>
</h1>
<form method="post" id="form" name = "myForm" onsubmit="return checkname()" >
{% csrf_token %}
    <div>
        DataBase Type:&emsp;&emsp;  <select  id="dbdrop" name="dbtype" >
            <option value="">Select Data Type</option>
            <option value="SQL" > SQL</option>
            <option  value="MYSQL"> MYSQL</option>
            <option  value="POSTGRESQL"> POSTGRESQL</option>
            </select>
            <span class="err_msg" id="db_type_err"></span>
    </div><br>
        <div>
            Host Address:&emsp; &emsp; <input type="text" id="hostname" name="hostadd" placeholder="Enter Host Address" >
            <span class="err_msg" id="host_name_err"></span>
    </div><br>

        <div>
        DataBase Name: &emsp;      <input type="text" id="dbname" name="dbname" placeholder="Enter DataBase Name" >
        <span class="err_msg" id="db_name_err"></span>
    </div><br>

    <div>
            User Name :&emsp; &emsp; &nbsp;&nbsp; <input type="text"  id="username" name="username" placeholder="Enter User Name" >
            <span class="err_msg" id="user_name_err"></span>
    </div><br>

    <div>
        Password : &emsp; &emsp;&emsp;&nbsp; <input type="text" id="pwd" name="pwd" placeholder="Enter Password" >

    </div><br>

    <div>
        Port Number :  &emsp; &nbsp;&nbsp;&nbsp; <input type="text" id="portno" name="port"  placeholder="Enter Port Number" >
        <span class="err_msg" id="port_no_err"></span>
    </div><br>

    <div>
            Server Name:&emsp; &emsp;&nbsp; <input type="text" id="server_name" name="servername" placeholder="Enter Server Name" >
            <span class="err_msg" id="server_name_err"></span>
    </div><br>
    <button type="submit" class="bottonc2" >Add Data</button>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
function checkname()
{
    var error =false;
    var numbercheck =/^[0-9\s\*]+$/;
    var server_name = document.getElementById('server_name').value.trim();
    var name = document.getElementById('username').value.trim();
    var dbtype = document.getElementById('dbdrop').value.trim();
    var hostname = document.getElementById('hostname').value.trim();
    var dbname = document.getElementById('dbname').value.trim();
    var portno = document.getElementById('portno').value.trim();

    if(server_name == "") {
        $("#server_name").css("border","red Solid 3px");
        $("#server_name_err").html("Server name is Required");
        error = true;
    }

    if(name == "") {
        $("#username").css("border","red Solid 3px");
        $("#user_name_err").html("username Required");
        error = true;
    }else{
        $("#username").css("border","green Solid 3px");
        $("#user_name_err").html("");
    }


    if(dbtype == "") {
        $("#dbdrop").css("border","red Solid 3px");
        $("#db_type_err").html("DataBase Type Required");
        error = true;
    }else{
        $("#dbdrop").css("border","green Solid 3px");
        $("#db_type_err").html("");
    }


    if(hostname == "") {
        $("#hostname").css("border","red Solid 3px");
        $("#host_name_err").html("Host Address Required");
        error = true;
    }else{

        $("#hostname").css("border","green Solid 3px");
        $("#host_name_err").html("");
    }


    if(dbname == "") {
        $("#dbname").css("border","red Solid 3px");
        $("#db_name_err").html("Database Name is Required");
        error = true;
    }else{
        $("#dbname").css("border","green Solid 3px");
        $("#db_name_err").html("");
    }


    if(portno == "") {
        $("#portno").css("border","red Solid 3px");
        $("#port_no_err").html("Port Number Required");
        error = true;
    }else if(!portno.match(numbercheck)){
      $("#portno").css("border","red Solid 3px");
        $("#port_no_err").html("Port Number Can be only Numeric");
        error = true;
    }
    else{
        $("#portno").css("border","green Solid 3px");
        $("#port_no_err").html("");
    }



    if(server_name != "" && name != "" && dbtype != "" && hostname != "" && dbname != "" && portno!= ""){
             $.ajax({
            type: 'post',
            url: 'uniquedata',
            data: {server_name:server_name, name:name, dbtype:dbtype, hostname:hostname, dbname:dbname, portno:portno, csrfmiddlewaretoken: '{{ csrf_token }}' },
            async: false,
            success: function (msg) {
              if(msg=="OK"){
                console.log('done');
                $("#server_name").css("border","green Solid 3px");
                $("#server_name_err").html("record done");

              }else{
                    $("#server_name").css("border","red Solid 3px");
                    $("#server_name_err").html("Duplicate record");
                    $("#username").css("border","red Solid 3px");
                    $("#user_name_err").html("Duplicate record");
                    error = true;
                    console.log(error);
                    }
            }
        });

    }


    if(server_name != ""){
        $.ajax({
            type: 'post',
            url: 'serverisexists',
            data: {server_name:server_name, csrfmiddlewaretoken: '{{ csrf_token }}' },
            async: false,
            success: function (msg) {
              if(msg=="OK"){
                console.log('done');
                $("#server_name").css("border","green Solid 3px");
                $("#server_name_err").html("");
              }else{
                    $("#server_name").css("border","red Solid 3px");
                    $("#server_name_err").html("Server name is exists");
                    error = true;
                    console.log(error);
                    }
            }
        });
    }


    if(error == true){
        return false;
        }
        else{
        return true;
        }
}
</script>


