{% extends "layout.html" %}
{% block content %}
<style>
.card{
  text-align: center;
}
.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
/* Style buttons */
a.blobContent{
    color: white;
}
a.blobContent:hover{
    text-decoration:none;
    color:black;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin:10px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}
.success{
    background-color: LightGreen;
    height="30px"
}
.error{
background-color: #FF6461;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
 padding-right: 10px;
    height="30px"
}

</style>
<h1>
    BLOB Details - {{ container_name }}
    <a href="/subscriptions/resource/file_management/bloblist?qid={{ storageAccountName }}&acc_name={{ acc_name }}" class="btn btn-light btn-sm mb-3 float-right">Back</a>
</h1>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="file" name="myfile">
    <button type="submit">Upload</button><br><br>
    {% if msg == " Uloaded success" %}
    <div class="success">
        <font color="LimeGreenx">{{msg}}</font>
    </div>
    {% else %}
    <div class="error">
        <font color="red">{{msg}}</font>
    </div>
    {% endif %}
</form><div class="container-fluid" style="margin-top:20px;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name </th>
                <th scope="col">File Size</th>
                <th scope="col">Last Modified</th>
                <th scope="col">File Type</th>
            </tr>
        </thead>
        <tbody>
        {% if blob_details %}
            {% for blobs in blob_details %}
                <tr>
<!--                    <td><a href="/subscriptions/resource/file_management/downloadblob?blob_name={{ blobs.name }}">{{ blobs.name }}</a></td>-->
                    <td>
                        <a onclick="openModal('{{ blobs.name }}','{{ blobs.id }}')" style="cursor:pointer;color:blue;">{{ blobs.name }}</a>
                        <a data-toggle="modal" data-target="#exampleModal" id="bb_{{blobs.id}}"></a>
                    </td>
                    <td>{{ blobs.properties.content_length }}</td>
                    <td>{{ blobs.properties.last_modified }}</td>
                    <td>{{ blobs.properties.content_settings.content_type }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Blob Actions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Account Name : {{acc_name}}</h6>
                    <h6>Container Name : {{container_name}}</h6>
                    <div id="mdCntnt_1">
                        <a href="#" class="blobContent btn"></a>
                        <button class="createSQLTable btn">Create SQL table <i class="fa fa-database"></i></button>
                        <button class="btn"> btn-3 </button>
                        <button class="btn"> btn-4 </button>
                        <button class="btn"> btn-5 </button>
                        <button class="btn"> btn-6 </button>
                    </div>
                    <div id="mdCntnt_2">
                        SCHEMA : <input type="text" name="tbl_schema" id="tbl_schema">
                        Sheets : <input type="text" name="tbl_sheets" id="tbl_sheets" placeholder="Enter the Sheet numbers to be selected starting from 0 and leave empty for all">
                        <button onclick="moveToSql()">Create in SQL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var gbl_blob_name = '';
        function openModal(blobName,bid){
            gbl_blob_name = blobName;
            $('#mdCntnt_1').show();
            $('#mdCntnt_2').hide();
            var fileType = blobName.split(/[. ]+/).pop();
            $('.blobContent').html(blobName+' <i class="fa fa-download"></i>');
            $('.blobContent').attr('href','/subscriptions/resource/file_management/downloadblob?blob_name='+blobName);
            if(fileType == "xlsx" || fileType == "xls"){
                $('.createSQLTable').show();
            }else{
                $('.createSQLTable').hide();
            }
            $('#bb_'+bid).click();
            $('.createSQLTable').click(function(){
                $('#mdCntnt_1').hide();
                $('#mdCntnt_2').show();
            });
        }

        function moveToSql(){
            var schema_name = $('#tbl_schema').val();
            var tbl_sheets = $('#tbl_sheets').val();
            window.location.href = '/subscriptions/resource/file_management/movetosql?blob_name='+gbl_blob_name+'&schema_name='+schema_name+'&sheet_indices='+tbl_sheets;
        }
    </script>
</div>
{% endblock %}