{% extends "layout.html" %}
{% block content %}
<style>
.success{
    background-color: LightGreen;
    padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
 padding-right: 10px;
    height="30px"
}
}
.error{
background-color: #FF6461;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
 padding-right: 10px;
    height="30px"
}
.bottonc1 {
 background-color: #04AA6D;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    padding: 3px 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    }
.bottonc2 {
background-color: red;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    padding: 3px 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

</style>


  <h1>
    Configuration Details
    <a href="addconfigdetails?uid={{ i.config_id }}" class="btn btn-light btn-sm mb-3 float-right">ADD</a>
</h1>
   {% if msg == "Updated Successfully" %}
    <div class="success">
        <font color="white">{{msg}}</font>
    </div>
    {% elif msg == "Deleted Successfully" %}
    <div class="success">
        <font color="white">{{msg}}</font>
    </div>
    {% endif %}
<table  border="5" width="100%" class="meta">
    <thead>
    <th>&emsp;Database Type</th>
    <th> &emsp;Host Address</th>
    <th> &emsp;Server Name</th>
    <th> &emsp;Database Name</th>
    <th> &emsp;User Name</th>
    <th> &emsp;Password </th>
    <th> &emsp;Port Number</th>
    <th>&emsp;&emsp;&emsp;Action</th>


    </thead>
    {% for i in rows %}

    <tr>

    <td>&emsp;{{i.database_type}}</td>
    <td>&emsp;{{i.hostaddress}}</td>
    <td>&emsp;{{i.serverName}}</td>
    <td>&emsp;{{i.databaseName}}</td>
    <td>&emsp;{{i.config_username}}</td>
    <td>&emsp;{{i.congif_password}}</td>
    <td>&emsp;{{i.portnumber}}</td>
        <td><div class="action">
            &emsp;
         <a href="updatedata?uid={{ i.config_id }}" ><button class="bottonc1" >Edit</button></a>
         <a href="deletedata?uid={{ i.config_id }}"   onclick="clicked(event)" ><button class="bottonc2" >Delete</button> </a>
        </div></td>


    </tr>
    {% endfor %}


</table><br><br>
<script>
function clicked(e)
{
    if(!confirm('Are you sure to delete?')) {
        e.preventDefault();
    }
}
</script>
{% endblock %}