{% extends "layout.html" %}
{% block content %}


  <h1>
    Configuration Details

</h1>

  <h1>
    Configuration Details
    <a href="addconfigdetails?uid={{ i.config_id }}" class="btn btn-light btn-sm mb-3 float-right">ADD</a>
</h1>

<table  border="5" width="100%" class="meta">
    <thead>
    <th>User ID</th>
    <th>Host Address</th>
    <th>Server Name</th>
    <th>Database Name</th>
    <th>UserName</th>
    <th>Password Name</th>
    <th>Database Type</th>

    </thead>
    {% for i in rows %}

    <tr>

    <td>{{i.c_userid}}</td>
    <td>{{i.hostaddress}}</td>
    <td>{{i.serverName}}</td>
    <td>{{i.databaseName}}</td>
    <td>{{i.config_username}}</td>
    <td>{{i.congif_password}}</td>
    <td>{{i.database_type}}</td>
        <td> <a href="updatedata?uid={{ i.config_id }}"> Edit </a></td>
        <td> <a href="deletedata?uid={{ i.config_id }}"> Delete </a></td>

    </tr>
    {% endfor %}

</table><br><br>
{% endblock %}