{% extends "layout.html" %}
{% block content %}
<style>
.card{
  text-align: center;
}
.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
</style>
<h1>
    Containers List - {{ acc_name }}
    <a href="/subscriptions/resource/file_management" class="btn btn-light btn-sm mb-3 float-right">Back</a>
</h1>

<div class="container-fluid" style="margin-top:20px;">
    <div class="row">
        {% if blob_list %}
            {% for blob in blob_list %}

                <div class="col-3 mb-4">
                    <a href="/subscriptions/resource/file_management/blobdetails?blobid={{ blob.id }}&container_name={{ blob.name }}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ blob.name }}</h5>
                              </div>
                        </div>
                    </a>
                </div>

            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}