{% extends "layout.html" %}
{% block content %}
<style>
.card{
  text-align: center;
}
.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
</style>
<h1>
    File Management
    <a href="/subscriptions/resource?subId={{ subscriptionId }}" class="btn btn-light btn-sm mb-3 float-right">Back</a>
</h1>

<div class="container-fluid" style="margin-top:20px;">
    <h3>Storage Account List</h3>
    <div class="row">
        {% if storageAccountList %}
            {% for account in storageAccountList %}
                <div class="col-3 mb-4">
                    <a href="/subscriptions/resource/file_management/bloblist?qid={{ account.id }}&acc_name={{ account.name }}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ account.name }}</h5>
                              </div>
                        </div>
                    </a>
                </div>

            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}