{% extends "layout.html" %}
{% block content %}
<h1>
   Update Configuration Details

</h1><h1>
   Update Configuration Details
    <a href="{% url 'configdetails' %}" class="btn btn-light btn-sm mb-3 float-right">Back</a>
</h1>
<form method="post" name = "myForm" onsubmit = "return(validate());">
{% csrf_token %}

    DataBase Type:&emsp;&emsp;   <select  name="dbtype"  >
<option  > Select Data Type</option>
<option  > SQL</option>
<option  > MYSQL</option>
<option  > POSTGRESQL</option>
</select><br><br>
    Host Address:&emsp; &emsp;<input type="text" name="hostadd" placeholder="Enter Host Address"  value="{{rows.hostaddress}}" ><br><br>
    Server Name:&emsp; &emsp;&nbsp; <input type="text" name="servername" placeholder="Enter Server Name" value="{{rows.serverName}}" ><br><br>
    DataBase Name: &emsp;  <input type="text" name="dbname" placeholder="Enter DataBase Name" value="{{rows.databaseName}}" ><br><br>
    User Name :&emsp; &emsp; &nbsp;&nbsp;        <input type="text" name="username" placeholder="Enter User Name"  value="{{rows.config_username}}" ><br><br>
    Password : &emsp; &emsp;&emsp;&nbsp;  <input type="text" name="pwd" placeholder="Enter Password" value="{{rows.congif_password}}" ><br><br>
    Port Number :  &emsp; &nbsp;&nbsp;&nbsp; <input type="text" name="port" placeholder="Enter Port Number" value="{{rows.portnumber}}" ><br><br>

                  <button type="submit">Update</button><br><br>

</form>

<script type = "text/javascript">

      function validate() {

        if( document.myForm.dbtype.value == "" ) {
            alert( "Please provide your Databasetype!" );
            document.myForm.dbtype.focus() ;
            return false;
         }

         if( document.myForm.hostadd.value == "" ) {
            alert( "Please provide your Host Address!" );
            document.myForm.hostadd.focus() ;
            return false;
         }
         if( document.myForm.servername.value == "" ) {
            alert( "Please provide your Servername!" );
            document.myForm.servername.focus() ;
            return false;
         }
         if( document.myForm.dbname.value == "" ) {
            alert( "Please provide your Database Name!" );
            document.myForm.dbname.focus() ;
            return false;
         }
         if( document.myForm.username.value == "" ) {
            alert( "Please provide your UserName!" );
            document.myForm.username.focus() ;
            return false;
         }
         if( document.myForm.pwd.value == "" ) {
            alert( "Please provide your password!" );
            document.myForm.pwd.focus() ;
            return false;
         }
         if( document.myForm.port.value == "" ) {
            alert( "Please provide your Port Number!" );
            document.myForm.port.focus() ;
            return false;
         }
         return( true );
      }

</script>



{% endblock %}